body {
  text-align: center;
}

header, #ny {
  font-size: 70px;
  color: white;

}

.presentation {
  margin:auto;
  background-image: url("../images/theflatironbuilding.png") ;
  font-size: 70px;
  color: white;

}

strong, nav li {
  list-style-type: none;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

header footer h2 h3 p {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: "bold";
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

#ny {
  font-size: 23px;
}

footer {
  text-align: left;
  color: #ffffff;
  background-color: dimgray;
  flex-direction: row;
}

a {
  color: white;
}
#copyright {
  font-size: 11px;
}
